@import "tailwindcss";

:root {
  font-family: "Lato", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8d7d7;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1200px;
}
